* {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

a {
  text-decoration: none;
}

.text-title {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 220%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 3em;
}

.text-nav {
  font-family: "Titillium Web", sans-serif;
  color: #04261A;
  font-size: 130%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
.text-nav:hover {
  color: #F3F779;
  text-decoration: underline;
}
.text-nav.current {
  text-decoration: underline;
}

.text-section-title {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 300%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.text-section-body {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 130%;
  text-align: start;
  font-weight: normal;
  text-decoration: none;
}

.text-article-title {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 180%;
  text-align: start;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 0px;
}

.text-article-body {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 120%;
  text-align: start;
  font-weight: normal;
  text-decoration: none;
  padding: 4px 0px;
}

.text-article-link {
  font-family: "Bree Serif", serif;
  color: #04261A;
  font-size: 110%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 2em;
}
.text-article-link:hover {
  text-decoration: underline;
}

.text-faq-title {
  font-family: "Bree Serif", serif;
  color: #083D33;
  font-size: 140%;
  text-align: start;
  font-weight: bold;
  text-decoration: none;
}
.text-faq-title:hover {
  text-decoration: underline;
}

.text-button-login {
  font-family: "Bree Serif", serif;
  color: white;
  font-size: 120%;
  text-align: start;
  font-weight: normal;
  text-decoration: none;
}
.text-button-login:hover {
  color: black;
}

@media (max-width: 768px) {
  .text-title {
    font-size: 160%;
  }
  .text-nav {
    font-size: 100%;
  }
  .text-nav-current {
    font-size: 100%;
  }
  .text-section-title {
    font-size: 200%;
  }
  .text-section-body {
    font-size: 100%;
  }
  .text-article-title {
    font-size: 130%;
  }
  .text-article-body {
    font-size: 100%;
  }
  .text-article-link {
    font-size: 90%;
  }
  .text-faq-title {
    font-size: 120%;
  }
  .text-faq-title:hover {
    text-decoration: underline;
  }
}
.box-title {
  background-color: #C6FFD1;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px medium 0px;
  padding: 20px 0px;
}

.box-nav {
  background-color: #3CAD85;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px medium 0px;
  padding: 20px 0px;
}

.box-section {
  background-color: #C6FFD1;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
}

.box-item {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
}
.box-item.clickable {
  transition-duration: 250ms;
}
.box-item.clickable:hover {
  background-color: #FFD9AE;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  transition-duration: 250ms;
}

.article-icon {
  width: 48px;
  height: 48px;
}

.button-login {
  background-color: #052626;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  border-color: #052626;
}
.button-login:hover {
  background-color: #F3F779;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  border-color: black;
}

body {
  background-color: #C6FFD1;
}

.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.container-nav__item {
  padding: 10px 16px;
}

.container-section {
  width: 95%;
  margin: 30px auto;
}

.container-section__title {
  width: 95%;
  margin: 24px auto;
}

.container-section__item {
  width: 95%;
  margin: 18px auto;
}

.container-section__faq-item {
  width: 95%;
  margin: 24px auto;
}

.container-article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 6px auto;
}
.container-article .title-width {
  width: 60%;
}
.container-article .last-message-width {
  width: 40%;
}
.container-article .half-width {
  width: 50%;
}
.container-article .full-width {
  width: 100%;
}

.column-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.column-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  width: calc(100% - 60px);
  padding: 3px 0px;
}

.column-contact {
  display: grid;
  grid-template: "n n n n n" ". a b c d";
  width: calc(100% - 60px);
}

.column-contact-n {
  grid-area: n;
}

.column-contact-a {
  grid-area: a;
}

.column-contact-b {
  grid-area: b;
}

.column-contact-c {
  grid-area: c;
}

.column-contact-d {
  grid-area: d;
}

/*
.container-article__title-width {
	@include define-flex(row);
	width: 60%;
}

.container-article__last-message-width {
	@include define-flex(row);
	width: 40%;
}

.container-article__half-width {
	@include define-flex(row);
	width: 50%;
}

.container-article__full-width {
	@include define-flex(row);
	width: 100%;
}

.container-article-column__icon {
	width: 48px;
	height: 48px;
}

.container-article-column__text {
	@include define-flex(column, space-between);
	align-items: start;
	width: calc(100% - 60px);
	padding: 3px 0px;
}

.container-article-column__user-contact {
	display: grid;
    grid-template: "n n n n n" ". a b c d";
	width: calc(100% - 60px);
}

.container-contact-n {
	grid-area: n;
}

.container-contact-a {
	grid-area: a;
}

.container-contact-b {
	grid-area: b;
}

.container-contact-c {
	grid-area: c;
}

.container-contact-d {
	grid-area: d;
}
*/
.wide-only {
  display: flex;
}

.small-only {
  display: none;
}

.always-display {
  display: flex;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
}

.unselectable {
  user-select: none;
}

@media (max-width: 640px) {
  .wide-only {
    display: none;
  }
  .small-only {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
