* {
  margin: 0;
  padding: 0;
}

h1 {

}

a {
  text-decoration: none;
}

.text-title {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 220%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 4em;
}

.text-nav {
  font-family: "Titillium Web", sans-serif;
  color: #04261A;
  font-size: 130%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 3em;
}

.text-nav:hover {
  font-family: "Titillium Web", sans-serif;
  color: #F3F779;
  font-size: 130%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  line-height: 3em;
}

.text-nav-current {
  font-family: "Titillium Web", sans-serif;
  color: #04261A;
  font-size: 130%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  line-height: 3em;
}

.text-nav-current:hover {
  font-family: "Titillium Web", sans-serif;
  color: #F3F779;
  font-size: 130%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  line-height: 3em;
}

.text-section-title {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 300%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.text-section-body {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 120%;
  text-align: start;
  font-weight: normal;
  text-decoration: none;
}

.text-article-title {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 200%;
  text-align: start;
  font-weight: bold;
  text-decoration: none;
}

.text-article-body {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 110%;
  text-align: start;
  font-weight: normal;
  text-decoration: none;
}

.text-article-link {
  font-family: "Bree Serif", serif;
  color: #04261A;
  font-size: 110%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 2em;
}

.text-article-link:hover {
  font-family: "Bree Serif", serif;
  color: #04261A;
  font-size: 110%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  line-height: 2em;
}

.text-faq-title {
  font-family: "Bree Serif", serif;
  color: #083D33;
  font-size: 130%;
  text-align: start;
  font-weight: bold;
  text-decoration: none;
}

.text-faq-title:hover {
  text-decoration: underline;
}

.text-button-login {
  font-family: "Bree Serif", serif;
  color: white;
  font-size: 120%;
  text-align: start;
  font-weight: normal;
  text-decoration: none;
}

.text-button-login:hover {
  font-family: "Bree Serif", serif;
  color: black;
  font-size: 120%;
  text-align: start;
  font-weight: normal;
  text-decoration: none;
}

@media (max-width: 700px) {
  .text-section-body {
    font-size: 150%;
  }
  .text-article-body {
    font-size: 140%;
  }
  .text-faq-title {
    font-size: 160%;
  }
  .text-faq-title:hover {
    font-size: 160%;
  }
}
.box-title {
  background-color: #C6FFD1;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px medium 0px;
}

.box-nav {
  background-color: #3CAD85;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px medium 0px;
}

.box-section {
  background-color: #C6FFD1;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
}

.box-item {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
}

.box-clickable-item {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  transition-duration: 250ms;
}

.box-clickable-item:hover {
  background-color: #FFD9AE;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  transition-duration: 250ms;
}

.button-login {
  background-color: #052626;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  border-color: #052626;
}

.button-login:hover {
  background-color: #F3F779;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 12px;
  border-color: black;
}

body {
  background-color: #C6FFD1;
}

.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.container-nav__item {
  margin: 10px 24px;
}

.container-section {
  width: 95%;
  margin: 30px auto;
}

.container-section__title {
  width: 95%;
  margin: 24px auto;
}

.container-section__item {
  width: 95%;
  margin: 18px auto;
}

.container-section__faq-item {
  width: 95%;
  margin: 18px auto;
}

.container-article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 6px auto;
}

.container-article__title-width {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.container-article__last-message-width {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.container-article__half-width {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.container-article__full-width {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.container-article-column__icon {
  width: 48px;
  height: 48px;
}

.container-article-column__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: center;
  align-items: start;
  width: calc(100% - 60px);
}

.container-article-column__user-contact {
  display: grid;
  grid-template: "n n n n n" ". a b c d";
  width: calc(100% - 60px);
}

.container-contact-n {
  grid-area: n;
}

.container-contact-a {
  grid-area: a;
}

.container-contact-b {
  grid-area: b;
}

.container-contact-c {
  grid-area: c;
}

.container-contact-d {
  grid-area: d;
}

@media (max-width: 700px) {
  .container-section__faq-item {
    width: 95%;
    margin: 48px auto;
  }
}
.wide-only {
  display: flex;
}

.small-only {
  display: none;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
}

.unselectable {
  user-select: none;
}

@media (max-width: 700px) {
  .wide-only {
    display: none;
  }
  .small-only {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
