// Los elementos de estas clases solo son visibles en un tamaño específico
.wide-only {
	display: flex;
}

.small-only {
	display: none;
}

.always-display {
	display: flex;
}

.single-line {
	white-space: nowrap;
	overflow: hidden;
}

.unselectable {
	user-select: none;
}

@media (max-width: 640px) {
	.wide-only {
		display: none;
	}

	.small-only {
		display: flex;
	}
}