body {
  background-color: #C6FFD1;
  font-family: $fonts-regular;
}

.font-nav {
  font-family: $fonts-nav;
}

.clickable-text {
  color: $colors-text-nav;
  font-weight: bold;
  text-decoration: none;
}

.clickable-text:hover {
  color: $colors-text-nav-hover;
  font-weight: bold;
  text-decoration: underline;
}

.clickable-faq-text {
  color: $colors-text-faq;
  font-weight: bold;
  text-decoration: none;
}

.clickable-faq-text:hover {
  color: $colors-text-faq-hover;
  font-weight: bold;
  text-decoration: underline;
}

.site-header {
  font-size: 200%;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  text-align: center;
  padding: 32px 0px 32px 0px;
}

.reference-section {
  background-color: $colors-background-nav;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 24px 0px 24px 0px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

.reference-section__element {
  font-size: 120%;
  margin-left: 30px;
  width: 15%;
  height: 100%;
}

.content-block {
  background-color: $colors-background;
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;
  width: 95%;
  margin: 24px 2.5% 24px 2.5%;
}

.content-block__element {
  margin: 20px 5% 20px 5%;
}

.content-block__title {
  text-align: center;
  font-size: 250%;
}

.content-block__paragraph {
  padding: 15px 0px 15px 0px;
}

.topic-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $colors-background-box;
  width: 95%;
  height: 96px;
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;
  padding: 0px;
  margin: 20px 2.5% 20px 2.5%;
}

.topic-block__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.topic-block__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 48px);
  height: 100%;
}

.topic-block__element {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.topic-block__element--title {
  display: flex;
  width: 50%;
}

.topic-block__element--last-message {
  display: flex;
  width: 45%;
}

.topic-block__element--single-column {
  display: none;
  width: 95%;
}

.topic-block__element--contact {
  display: flex;
  width: 100%;
}

.topic-block__icon {
  display: block;
  width: 48px;
  height: 48px;
}

.topic-block__text {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.topic-block__text--title {
  font-size: 200%;
  font-weight: bold;
  height: 40%;
}

.topic-block__text--body {
  font-size: 110%;
  height: 20%;
}

.topic-block__text--op {
  height: 30%;
}

.topic-block__text--last-message {
  height: 80%;
}

.topic-block_text--single-column {
  height: 80%;
}

.topic-block__selectable {
  transition-duration: 0.75s;
  background-color: $colors-background-box;
}

.topic-block__selectable:hover {
  transition-duration: 0.75s;
  background-color: $colors-background-box-hover;
}

.user-contact-container {
  display: grid;
  grid-template: "n n n n n" ". a b c d";
  width: calc(95% - 48px);
  height: 100%;
}

.user-contact-n {
  grid-area: n;
}

.user-contact-a {
  grid-area: a;
}

.user-contact-b {
  grid-area: b;
}

.user-contact-c {
  grid-area: c;
}

.user-contact-d {
  grid-area: d;
}

.login-container {
  width: 95%;
  height: 95%;
  margin: 2.5%;
}

.login-title {
  margin: 20px 5px 5px 5px;
}

.login-button {
  color: white;
  background-color: $colors-button-login;
  border-color: $colors-button-login;
}

.login-button:hover {
  color: black;
  background-color: $colors-button-login-hover;
  border-color: black;
}

@media (max-width: 640px) {
  .topic-block {
    height: 96px;
  }
  .reference-section__element {
    width: 25%;
  }
  .topic-block__element--title {
    display: none;
  }
  .topic-block__element--last-message {
    display: none;
  }
  .topic-block__element--single-column {
    display: flex;
  }
}