* {
	margin: 0;
	padding: 0;
	line-height: 1em;
}

a {
	text-decoration: none;
}

@import 'values.scss';
@import 'text-style.scss';
@import 'box-style.scss';
@import 'containers.scss';
@import 'misc-properties';