// Este mixin sirve para crear un estilo de texto
@mixin define-text-style($font, $color, $size, $centered, $bold, $underlined) {
	font-family: $font;
	color: $color;
	font-size: $size;
	@if ($centered) {
		text-align: center;
	} @else {
		text-align: start;
	}
	@if ($bold) {
		font-weight: bold;
	} @else {
		font-weight: normal;
	}
	@if ($underlined) {
		text-decoration: underline;
	} @else {
		text-decoration: none;
	}
}

// Estas clases hacen referencia a un estilo de texto
.text-title {
	@include define-text-style($fonts-regular, $colors-text-regular, 220%, true, true, false);
	line-height: 4.0em;
}

.text-nav {
	@include define-text-style($fonts-nav, $colors-text-nav, 130%, true, true, false);
	line-height: 3.0em;
}

.text-nav:hover {
	@include define-text-style($fonts-nav, $colors-text-nav-hover, 130%, true, true, true);
	line-height: 3.0em;
}

.text-nav-current {
	@include define-text-style($fonts-nav, $colors-text-nav, 130%, true, true, true);
	line-height: 3.0em;
}

.text-nav-current:hover {
	@include define-text-style($fonts-nav, $colors-text-nav-hover, 130%, true, true, true);
	line-height: 3.0em;
}

.text-section-title {
	@include define-text-style($fonts-regular, $colors-text-regular, 300%, true, true, false);
}

.text-section-body {
	@include define-text-style($fonts-regular, $colors-text-regular, 120%, false, false, false);
}

.text-article-title {
	@include define-text-style($fonts-regular, $colors-text-regular, 200%, false, true, false);
}

.text-article-body {
	@include define-text-style($fonts-regular, $colors-text-regular, 110%, false, false, false);
}

.text-article-link {
	@include define-text-style($fonts-regular, $colors-text-nav, 110%, true, true, false);
	line-height: 2.0em;
}

.text-article-link:hover {
	@include define-text-style($fonts-regular, $colors-text-nav, 110%, true, true, true);
	line-height: 2.0em;
}

.text-faq-title {
	@include define-text-style($fonts-regular, $colors-text-faq, 130%, false, true, false);
}

.text-faq-title:hover {
	text-decoration: underline;
}

.text-button-login {
	@include define-text-style($fonts-regular, white, 120%, false, false, false);
}

.text-button-login:hover {
	@include define-text-style($fonts-regular, black, 120%, false, false, false);
}

@media (max-width: 700px) {
	.text-section-body {
		font-size: 150%;
	}

	.text-article-body {
		font-size: 140%;
	}

	.text-faq-title {
		font-size: 160%;
	}

	.text-faq-title:hover {
		font-size: 160%;
	}
}