/* Todos los colores que se van a usar en el sitio. */
$colors-text-regular: black;
$colors-text-nav: #04261A;
$colors-text-nav-hover: #F3F779;
$colors-text-faq: #083D33;
$colors-text-faq-hover: #083D33;
$colors-background: #C6FFD1;
$colors-background-nav: #3CAD85;
$colors-background-box: white;
$colors-background-box-hover: #FFD9AE;
$colors-button-login: #052626;
$colors-button-login-hover: #F3F779;

/* Todas las fuentes que se usan en el sitio. */
$fonts-regular: 'Bree Serif', serif;
$fonts-nav: 'Titillium Web', sans-serif;